<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Habibi AirLines</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="freehtml5.co" />

    <!--
    //////////////////////////////////////////////////////

    FREE HTML5 TEMPLATE
    DESIGNED & DEVELOPED by FreeHTML5.co

    Website: 		http://freehtml5.co/
    Email: 			info@freehtml5.co
    Twitter: 		http://twitter.com/fh5co
    Facebook: 		https://www.facebook.com/fh5co

    //////////////////////////////////////////////////////
     -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="../templates/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../templates/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../templates/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../templates/css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="../templates/css/flexslider.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="../templates/css/style.css">

    <!-- Modernizr JS -->
    <script src="../templates/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="../templates/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>


<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container-wrap">
            <div class="top-menu">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="../templates/images/logo.bmp">
                    </div>
                    <div class="col-xs-9 text-right menu-1">
                        <ul>
                            <li class="active"><a href="../controller/controller.php?action=acceuil">Accueil</a></li>
                            <li><a href="#">Catalogue des vols</a></li>
                            <!-- Si besoin d'un dropdown pour le menu :
                            <li class="has-dropdown">
                                <a href="blog.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">eCommerce</a></li>
                                    <li><a href="#">Branding</a></li>
                                    <li><a href="#">API</a></li>
                                </ul>
                            </li> -->
                            <li><a href="#">Réservations</a></li>
                            <li></li>
                            <li class="has-dropdown">
                                <a href="#">Clients</a>
                                <ul class="dropdown">
                                    <li><a href="../controller/controller.php?action=client_liste">Liste des Clients</a></li>
                                    <li><a href="../controller/controller.php?action=client_ajout">Ajouter un Client</a></li>
                                </ul>
                            </li>
                            <li><a href="../controller/controller.php?action=account">Mon compte</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <div class="container-wrap">




