
    </div><!-- END container-wrap -->
    <div class="container-wrap">
        <footer id="fh5co-footer" role="contentinfo">


            <div class="">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2017 Habibi AirLines. All Rights Reserved.</small>
                        <small class="block">Created by  Manuhx & MehdForUs</small>
                    </p>
                    <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                    </p>
                </div>
            </div>
        </footer>
    </div><!-- END container-wrap -->
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

<!-- jQuery -->
<script src="../templates/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../templates/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../templates/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../templates/js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="../templates/js/jquery.flexslider-min.js"></script>
<!-- Magnific Popup -->
<script src="../templates/js/jquery.magnific-popup.min.js"></script>
<script src="../templates/js/magnific-popup-options.js"></script>
<!-- Counters -->
<script src="../templates/js/jquery.countTo.js"></script>
<!-- Main -->
<script src="../templates/js/main.js"></script>

</body>
</html>

